// Reset \\

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Base Styles \\

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

html {
	font-size: 62.5%
}

body {
	font-size: 1.5rem;
	font-family: cursive, sans-serif;
}

header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 3rem 0;

	nav {
		width: 40%;
		display: flex;
		justify-content: space-between;
	}
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.8rem;
}

p {
	line-height: 1.25;
}

// Layout \\

.wrapper {
	width: 90%;
	max-width: 96rem;
	margin: 0 auto;
	padding: 0 1rem;
}

.intro {
	background-color: #d0ddec;
	border-radius: 1rem;
	padding: 3rem;

	.profile {
		display: flex;
		justify-content: flex-start;
		border-bottom: .2rem solid lightgray;
		padding-bottom: 2rem;

		figure {
			width: 30%;
			margin-right: 1rem;
		}

		img {
			width: 100%;
			border-radius: 50%;
			border: .2rem solid #7b608f;
		}
		div {
			margin-top: 8%;
			margin-left: 2rem;
		}
		h1 {
			font-size: 3rem;
		}
		h2 {
			margin-top: 1.2rem;
			font-size: 1.8rem;
		}
	}

	p {
		margin: 2rem 0;
	}

	button {
		font-weight: bold;
		color: #00d4ff;
		background-color: rgb(22,20,56);
		padding: .8rem 1.6rem;
		border-radius: 1rem;
		transition: 0.2s;
	}

	button:hover {
		background-color: #7b608f;
		color: #d0ddec;
		cursor: pointer;
	}

	.portfolio {
		font-weight: bold;
		color: dodgerblue;

	}

	.portfolio:hover {
		text-decoration: underline;
	}
}
